<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load cache %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Dacstry - {{title|title}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pets.css' %}?version=12" />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
<body>
    <div class="container-fluid sticky-top">
         <header>
            {% include 'menu.html' %}
        </header>
        
        <div style="border-bottom: 1px solid #808080; opacity:0.3; " >
        </div>
    </div>
    <div class="container py-3">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% elif message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% endif %}
                    <strong>{{message}}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <main>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
{% block load %}
{% endblock %}
    <div class='fixed-bottom' style='margin-left:5px;' >
        <span style='font-size:0.7rem;'> <a href="{% url 'contact' %}"> CONTACT </a> </span>
        <small>|</small>
        <span style='font-size:0.7rem;'> <a href="{% url 'support' %}"> SUPPORT </a> </span>
        <small>|</small>
        <span style='font-size:0.7rem;'> <a href="{% url 'changes' %}"> CHANGELOG </a> </span>
    </div>
</body>
</html>